<a href="https://colab.research.google.com/github/achosamuel/PYTHON-CODE-PROJECTS/blob/main/Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Create a variable

In [1]:
salary = 100000

In [2]:
salary

100000

In [3]:
"salary"

'salary'

#Calaculate the following

  Total salary = (base salary)*(1 + Bonus)

In [4]:
base_salary = 100000
bonus = .10

In [5]:
total_salary = (base_salary)*(1 + bonus)

In [6]:
total_salary

110000.00000000001

In [7]:
lukes_salary = 100000

#Variables aren't only numbers

In [8]:
company_name = "DataWiz Inc."

In [9]:
company_name

'DataWiz Inc.'

In [10]:
job_wfh = True

In [11]:
job_wfh

True

In [12]:
job_id = 101
job_title = "Data Analyst"
job_salary = 125000

In [13]:
print("Data job description")
print("+++++++++++++++++++++")
print("Job ID:     ", job_id)
print("Company Name:", company_name)
print("Job Title: ", job_title)
print("Salary: ", job_salary)
print("WHF:        ", job_wfh)

Data job description
+++++++++++++++++++++
Job ID:      101
Company Name: DataWiz Inc.
Job Title:  Data Analyst
Salary:  125000
WHF:         True

#Objects: The Data Records
object: A data record with fields;an instance of a class

In [14]:
#class (str, int,float) - objects(40,data,"analyst") instance of class

#Variables: The Reference to objects

In [15]:
#job_title = "Data analyst"
#job_location = "united states"
#salary = 100000

In [16]:
id(job_title)

132105760667056

In [17]:
type(40000)

int

In [18]:
my_print_func=print

In [19]:
my_print_func("What's up, Data analyst")

What's up, Data analyst

In [20]:
PRINT = print

In [21]:
PRINT ("Hello World")

Hello World

#Functions: The Manipulators of objects

**Function**: A reusable (reutilisable)
 piece of code that performs a specific task

In [22]:
print("What's up")

What's up

In [23]:
def greet():
  return "What's up"

In [24]:
# a function start xith def

In [25]:
greet()

"What's up"

In [26]:
job_title = "Data analyst"
job_location = "united states"
job_salary = 100000

In [27]:
print(f"JOB:     {job_title}\nLOCATION:    {job_location}\nSALARY:     ${job_salary}")

JOB:     Data analyst
LOCATION:    united states
SALARY:     $100000

In [28]:
def display_info(title, location, salary):
  return print(f"JOB:     {title}\nLOCATION:    {location}\nSALARY:     ${salary}")

In [29]:
display_info(job_title, job_location, job_salary)

JOB:     Data analyst
LOCATION:    united states
SALARY:     $100000

#Classes: The Template of Objects

**Class**: A template for creating objects (records).

In [30]:
type(90000)

int

In [31]:
job_title = "Data analyst"
job_location = "united states"
job_salary = 100000

In [32]:
class JobPost:
  def __init__(self, title, location, salary):
    self.title = title
    self.location = location
    self.salary = salary

In [33]:
JobPost(job_title, job_location, job_salary)

#Attributes: The Variables of an Object
**Attribute**: A field in a record, defined by its class

In [34]:
class JobPost:
  def __init__(self, title, location, salary):
    self.title = title
    self.location = location
    self.salary = salary

In [35]:
job_1 = JobPost(job_title, job_location, job_salary)

In [36]:
job_1.title

'Data analyst'

In [37]:
job_1.location

'united states'

#Methods: The Functions of an Object

**Method**:A function defined inside a class that operates on its objects

In [38]:
class JobPost:
  def __init__(self, title, location, salary):
    self.title = title
    self.location = location
    self.salary = salary
  def display_info(self):
      return print(f"JOB:     {self.title}\nLOCATION:    {self.location}\nSALARY:     ${self.salary}")

In [39]:
job_1 = JobPost(job_title, job_location, job_salary)

In [40]:
job_1.title

'Data analyst'

In [41]:
job_1.display_info()

JOB:     Data analyst
LOCATION:    united states
SALARY:     $100000

In [42]:
salary = 90000

In [43]:
type(salary)

int

In [44]:
help(salary)

Help on int object:

class int(object)
 |  int([x]) -> integer
 |  int(x, base=10) -> integer
 |
 |  Convert a number or string to an integer, or return 0 if no arguments
 |  are given.  If x is a number, return x.__int__().  For floating point
 |  numbers, this truncates towards zero.
 |
 |  If x is not a number or if base is given, then x must be a string,
 |  bytes, or bytearray instance representing an integer literal in the
 |  given base.  The literal can be preceded by '+' or '-' and be surrounded
 |  by whitespace.  The base defaults to 10.  Valid bases are 0 and 2-36.
 |  Base 0 means to interpret the base from the string as an integer literal.
 |  >>> int('0b100', base=0)
 |  4
 |
 |  Built-in subclasses:
 |      bool
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __ceil__(...)
 |      Ceiling of an Integral returns itself.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(...)
 |      Flooring an Integral returns itself.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Default object formatter.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __index__(self, /)
 |      Return self converted to an integer, if self is suitable for use as an index into a list.
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __invert__(self, /)
 |      ~self
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lshift__(self, value, /)
 |      Return self<<value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rlshift__(self, value, /)
 |      Return value<<self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __round__(...)
 |      Rounding an Integral returns itself.
 |
 |      Rounding with an ndigits argument also returns an integer.
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rrshift__(self, value, /)
 |      Return value>>self.
 |
 |  __rshift__(self, value, /)
 |      Return self>>value.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(self, /)
 |      Returns size in memory, in bytes.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(...)
 |      Truncating an Integral returns itself.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  as_integer_ratio(self, /)
 |      Return integer ratio.
 |
 |      Return a pair of integers, whose ratio is exactly equal to the original int
 |      and with a positive denominator.
 |
 |      >>> (10).as_integer_ratio()
 |      (10, 1)
 |      >>> (-10).as_integer_ratio()
 |      (-10, 1)
 |      >>> (0).as_integer_ratio()
 |      (0, 1)
 |
 |  bit_count(self, /)
 |      Number of ones in the binary representation of the absolute value of self.
 |
 |      Also known as the population count.
 |
 |      >>> bin(13)
 |      '0b1101'
 |      >>> (13).bit_count()
 |      3
 |
 |  bit_length(self, /)
 |      Number of bits necessary to represent self in binary.
 |
 |      >>> bin(37)
 |      '0b100101'
 |      >>> (37).bit_length()
 |      6
 |
 |  conjugate(...)
 |      Returns self, the complex conjugate of any int.
 |
 |  to_bytes(self, /, length, byteorder, *, signed=False)
 |      Return an array of bytes representing an integer.
 |
 |      length
 |        Length of bytes object to use.  An OverflowError is raised if the
 |        integer is not representable with the given number of bytes.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.
 |      signed
 |        Determines whether two's complement is used to represent the integer.
 |        If signed is False and a negative integer is given, an OverflowError
 |        is raised.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  from_bytes(bytes, byteorder, *, signed=False) from builtins.type
 |      Return the integer represented by the given array of bytes.
 |
 |      bytes
 |        Holds the array of bytes to convert.  The argument must either
 |        support the buffer protocol or be an iterable object producing bytes.
 |        Bytes and bytearray are examples of built-in objects that support the
 |        buffer protocol.
 |      byteorder
 |        The byte order used to represent the integer.  If byteorder is 'big',
 |        the most significant byte is at the beginning of the byte array.  If
 |        byteorder is 'little', the most significant byte is at the end of the
 |        byte array.  To request the native byte order of the host system, use
 |        `sys.byteorder' as the byte order value.
 |      signed
 |        Indicates whether two's complement is used to represent the integer.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  denominator
 |      the denominator of a rational number in lowest terms
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  numerator
 |      the numerator of a rational number in lowest terms
 |
 |  real
 |      the real part of a complex number

#Data Types

In [45]:
total_salary= 110000

In [46]:
bonus_salary = 10000

In [47]:
type(total_salary)

int

In [48]:
base_salary = total_salary - bonus_salary
base_salary

100000

In [49]:
job_title= 'Data Analyst'
remove_word = 'Data'

In [50]:
type(job_title)

str

In [51]:
final_title = job_title.replace(remove_word,'')
final_title

' Analyst'

In [52]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  removeprefix(self, prefix, /)
 |      Return a str with the given prefix string removed if present.
 |
 |      If the string starts with the prefix string, return string[len(prefix):].
 |      Otherwise, return a copy of the original string.
 |
 |  removesuffix(self, suffix, /)
 |      Return a str with the given suffix string removed if present.
 |
 |      If the string ends with the suffix string and that suffix is not empty,
 |      return string[:-len(suffix)]. Otherwise, return a copy of the original
 |      string.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \\n \\r \\t \\f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits (starting from the left).
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the end of the string and works to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \\n \\r \\t \\f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits (starting from the left).
 |          -1 (the default value) means no limit.
 |
 |      Note, str.split() is mainly useful for data that has been intentionally
 |      delimited.  With natural text that includes punctuation, consider using
 |      the regular expression module.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

In [53]:
'Data ' + 'Nerd'

'Data Nerd'

In [54]:
'Data Nerd'.capitalize()
#make the first character upper and the others low

'Data nerd'

In [55]:
job_id =102
type(job_id)

int

In [56]:
job_id= float(job_id)
type(job_id)

float

In [57]:
help(float)

Help on class float in module builtins:

class float(object)
 |  float(x=0, /)
 |
 |  Convert a string or number to a floating point number, if possible.
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __ceil__(self, /)
 |      Return the ceiling as an Integral.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(self, /)
 |      Return the floor as an Integral.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Formats the float according to format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __round__(self, ndigits=None, /)
 |      Return the Integral closest to x, rounding half toward even.
 |
 |      When an argument is passed, work like built-in round(x, ndigits).
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(self, /)
 |      Return the Integral closest to x between 0 and x.
 |
 |  as_integer_ratio(self, /)
 |      Return integer ratio.
 |
 |      Return a pair of integers, whose ratio is exactly equal to the original float
 |      and with a positive denominator.
 |
 |      Raise OverflowError on infinities and a ValueError on NaNs.
 |
 |      >>> (10.0).as_integer_ratio()
 |      (10, 1)
 |      >>> (0.0).as_integer_ratio()
 |      (0, 1)
 |      >>> (-.25).as_integer_ratio()
 |      (-1, 4)
 |
 |  conjugate(self, /)
 |      Return self, the complex conjugate of any float.
 |
 |  hex(self, /)
 |      Return a hexadecimal representation of a floating-point number.
 |
 |      >>> (-0.1).hex()
 |      '-0x1.999999999999ap-4'
 |      >>> 3.14159.hex()
 |      '0x1.921f9f01b866ep+1'
 |
 |  is_integer(self, /)
 |      Return True if the float is an integer.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __getformat__(typestr, /) from builtins.type
 |      You probably don't want to use this function.
 |
 |        typestr
 |          Must be 'double' or 'float'.
 |
 |      It exists mainly to be used in Python's test suite.
 |
 |      This function returns whichever of 'unknown', 'IEEE, big-endian' or 'IEEE,
 |      little-endian' best describes the format of floating point numbers used by the
 |      C type named by typestr.
 |
 |  __setformat__(typestr, fmt, /) from builtins.type
 |      You probably don't want to use this function.
 |
 |        typestr
 |          Must be 'double' or 'float'.
 |        fmt
 |          Must be one of 'unknown', 'IEEE, big-endian' or 'IEEE, little-endian',
 |          and in addition can only be one of the latter two if it appears to
 |          match the underlying C reality.
 |
 |      It exists mainly to be used in Python's test suite.
 |
 |      Override the automatic determination of C-level floating point type.
 |      This affects how floats are converted to and from binary strings.
 |
 |  fromhex(string, /) from builtins.type
 |      Create a floating-point number from a hexadecimal string.
 |
 |      >>> float.fromhex('0x1.ffffp10')
 |      2047.984375
 |      >>> float.fromhex('-0x1p-1074')
 |      -5e-324
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  real
 |      the real part of a complex number

#STRINGS

In [58]:
'this is string without quotes'

'this is string without quotes'

In [59]:
this is string without quotes

SyntaxError: invalid syntax (<ipython-input-59-1fb2af79fa2f>, line 1)

In [ ]:
skill = "Python"

In [ ]:
type(skill)

In [ ]:
skill.upper()

In [ ]:
skill.lower()

In [ ]:
help(str)

In [ ]:
'PYThon'.lower()

In [ ]:
str.lower('PYThon')

In [ ]:
skill.replace('P','J')

In [ ]:
job_title = 'Data Analyst'
job_title.replace('Data','Doto')

In [ ]:
job_title = 'Data Analyst'
job_title= job_title.replace('a','o',2)

In [ ]:
job_title.split(sep=" ", maxsplit=1)

In [ ]:
job_title.split(" ",1)

In [ ]:
str.__add__(job_title,' interview')

In [ ]:
len(job_title)

String Formatting

#Concatenation

In [ ]:
role = 'Data Analyst'
skill = 'Python'

In [ ]:
'Role: '+ role

In [ ]:
#create the string "Role: Data Analyst"
"Role: {}".format(role)

In [ ]:
#create the string "Role: Data Analyst ; Skill require: Python"
"Role: {}".format(role)+' ; '+ "Skill require:{}".format(skill)

In [ ]:
"Role:{} ; Skill Require: {}".format(role,skill)

#f-String - formatted String Literals

In [ ]:
role = 'Data Analyst'
skill = 'Python'
f" Role: {role}  ; Skill Require: {skill}"

#%-formatting (printf-style string formatting)

In [ ]:
"Role: %s" %(role)

#Join() Method

In [ ]:
years_experience = '0123456789'
', '.join(years_experience)

In [ ]:
skills = ['Python', 'SQL', 'Excel']
type(skills)

In [ ]:
';'.join(skills)

#Operarors

In [ ]:
four = 4
four.__sub__(5)

In [ ]:
5/2

In [ ]:
5//2
#The // operator removes the .5 and keeps only the whole number part, which is 2, maintain the type (integer)

In [ ]:
5%2
#It gives you the remainder (le reste)

In [ ]:
print("5 divides by 2 is" ,5//2, "and the remainder is" ,5%2)

#Assignement of Operations

In [ ]:
apllicant_1 = "Kelly"
applicant_2 = "Luke"

In [ ]:
applicant_1,applicant_2= applicant_2,apllicant_1
#invert values

In [ ]:
applicant_1,applicant_2

In [ ]:
x= 1
x=x+1
x

In [ ]:
x= 1
x+=1 # x=x+1
x

In [ ]:
x=1
x*=2
x

In [ ]:
x=1
x-=2
x

#Comparaison Operators

In [ ]:
salary_kelly = 60000
salary_like = 40000

In [ ]:
salary_kelly ==salary_like

In [ ]:
if(salary_kelly >=salary_like):
  print("kelly salary is greater than like salary")

In [ ]:
if(salary_kelly <=salary_like):
  print("like salary is greater than kelly salary")
else:
  print("NON")

#Conditional

In [ ]:
job_skill = 'SQL'
applicant_skill = 'Python'

In [ ]:
if(job_skill==applicant_skill):
  print("Skills Match!")
else:
  print("Skills Don't Match")

In [ ]:
years_experience = 6
if(job_skill==applicant_skill):
  print("Skills Match!")
elif years_experience > 5:
  print("Enough Experience ; No SQL")

In [ ]:
if job_skill == applicant_skill:
  pass # or ...

#Lists

In [ ]:
my_lists=[1,'python', [2,'sql']]
type(my_lists)

In [ ]:
job_skills=['sql','tableau','excel']
job_skills.append('python')
job_skills

In [ ]:
job_skills.remove('tableau')
job_skills

In [ ]:
len('python')

In [ ]:
len(job_skills)

In [ ]:
job_skills[1]

In [ ]:
job_skills.insert(2,'tableau')
job_skills

In [ ]:
job_skills.pop(2)

In [ ]:
job_skills

In [ ]:
job_skills.pop()

In [ ]:
job_skills

#Slicing

syntax: list[start:end:step]

start: **inclusive**

end: **exclusive**

In [ ]:
job_skills=['sql','excel','python']

In [ ]:
job_skills[0:2]

In [ ]:
job_skills[1:]
#everything except the first item.

In [ ]:
job_skills[:1]
#return the first item

In [ ]:
job_skills[::2]
#it takes every second element, starting from the first.

In [ ]:
luke_skills = ['python', 'bigquery', 'r']
kelly_skills= ['python', 'sql', 'looker']

all_skills = luke_skills + kelly_skills
all_skills

In [ ]:
all_skills[::2]

In [ ]:
all_skills[5:]

In [ ]:
all_skills[-2]

In [ ]:
skill_concerned,*skill_dont_care = all_skills

In [ ]:
print(skill_concerned)
print(skill_dont_care)

#Dictionary

In [ ]:
{'database': 'postgresql'}

#Set

In [ ]:
job_skills= {'tableau','sql','python','statistics'}

In [ ]:
job_skills

In [ ]:
job_skills.add('looker')

In [ ]:
job_skills

In [ ]:
job_skills.pop()

In [ ]:
job_skills

In [ ]:
job_skills.remove('python')

In [ ]:
job_skills

In [ ]:
skill_list=['python','sql','python','excel','sql','statistics']

In [ ]:
set(skill_list)

In [ ]:
list(set(skill_list))

In [ ]:
lukes_skills = ('python','sql','statistics','tableau')
lukes_skills

In [ ]:
lukes_skills[0]

In [ ]:
lukes_skills = ('python','sql','statistics','tableau')
new_skills = ('excel','power bi')
lukes_skills += new_skills
lukes_skills

#Range()

In [ ]:
range(5)

In [ ]:
tuple(range(2,5))

In [ ]:
tuple(range(1,21,2))

#Operators : Part 2

In [ ]:
job_work_from_home = True
job_health_insurance = True
job_ne_degree_mention = True

job_work_from_home or job_health_insurance

In [ ]:
not True

In [ ]:
not False

In [ ]:
if(job_work_from_home or job_health_insurance):
  print("meets condition")

In [ ]:
job_work_from_home or job_health_insurance or not job_ne_degree_mention

#Membership Operators

In [ ]:
"data" in 'Data Nerd'

In [ ]:
job_skills = ['python','sql','excel']
"python" in job_skills

#Identity Operators

is

is not

#Bitwise Operators

In [ ]:
bin(42)

In [ ]:
# & and
# x|y or
# x^y
# ~x  Inverts binary 0101 to 1010
# x<<y Shifts bits of x left by y positions.
# x>>y Shifts bits of x right by y positions.

job_salary1 = 100000
job_salary2 = 100000

job_salary1^job_salary2
#0 means the same
#1 means different

#Loops

In [ ]:
numbers = [0,1,2,3,4,5]

for number in numbers:
  print(number)

In [ ]:
characters = 'PYTHON'
for character in characters:
  print(character)

In [ ]:
years_experience = {
    'Luke': 3,
    'Kelly': 6,
    'Ken': 4,
    'Alex': 3,
}

In [ ]:
for person in years_experience:
  print(person)

In [ ]:
for value in years_experience.values():
  print(value)

In [ ]:
for key,value in years_experience.items():
  print(key,value)

In [ ]:
for key,value in years_experience.items():
  if value > 5:
    print(key,value)

In [ ]:
tuple(range(5))

In [ ]:
for number in range(20):
  print(number)

In [ ]:
count = 1
while count < 5:
  print(count)
  count += 1

In [ ]:
numbers = [x for x in range(20)]
numbers

#List comprehension

#Exercise:

In [ ]:
# Define data science job roles and required skills
job_roles = [
    {'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel']},
    {'role': 'Data Scientist', 'skills': ['Python', 'R', 'Machine Learning', 'Deep Learning']},
    {'role': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']},
    {'role': 'Data Engineer', 'skills': ['Python', 'Apache Spark', 'Hadoop', 'SQL']},
    {'role': 'Business Intelligence Analyst', 'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']},
    {'role': 'Quantitative Analyst', 'skills': ['R', 'Python', 'MATLAB', 'Statistics']},
    {'role': 'Operations Analyst', 'skills': ['Python', 'SQL', 'Data Visualization', 'Process Improvement']},
    {'role': 'Database Administrator', 'skills': ['SQL', 'Oracle', 'MySQL', 'Database Management']},
    {'role': 'AI Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']},
    {'role': 'Statistician', 'skills': ['R', 'SAS', 'Python', 'Statistical Modeling']}
]
# My skills
my_skills = ['Python', 'SQL', 'Excel']

In [ ]:
for job in job_roles:
  print(job)

In [ ]:
for job in job_roles:
  print(job['skills'])

In [ ]:
for job in job_roles:
  qualified = True

  for skills in my_skills:
    if skills not in job['skills']:
      qualified = False
      break
  if qualified:
    print(job)

In [ ]:
for job in job_roles:
  qualified = True

  for skills in my_skills:
    if skills not in job['skills']:
      qualified = False
      break
if qualified:
  print("we have roles we're qualified for")
else:
  print("there's no matching job roles for my skills")

In [ ]:
job_courses = [
    {'course': 'Web Development Bootcamp', 'requirements': ['HTML', 'CSS', 'JavaScript']},
    {'course': 'Python for Data Science', 'requirements': ['Python', 'Pandas', 'NumPy']},
    {'course': 'Machine Learning A-Z', 'requirements': ['Python', 'Machine Learning', 'Math']},
    {'course': 'Excel Mastery', 'requirements': ['Excel', 'Data Visualization', 'Pivot Tables']},
    {'course': 'SQL Fundamentals', 'requirements': ['SQL', 'Database Design']},
    {'course': 'Power BI for Beginners', 'requirements': ['Power BI', 'Data Visualization', 'Excel']},
    {'course': 'Full Stack Development', 'requirements': ['HTML', 'CSS', 'JavaScript', 'Node.js']},
    {'course': 'R for Statistics', 'requirements': ['R', 'Statistics', 'Data Analysis']},
    {'course': 'AI with Python', 'requirements': ['Python', 'TensorFlow', 'Deep Learning']},
    {'course': 'Tableau for Business Intelligence', 'requirements': ['Tableau', 'Data Visualization']},
    {'course': 'Tableau for Business Intelligence', 'requirements': ['Python', 'SQL', 'Excel', 'JavaScript']}
]

# Your skills
my_skills = ['Python', 'SQL', 'Excel', 'JavaScript']

In [ ]:
course_qualified =[]
for course in job_courses:
  qualified = True

  for skill in my_skills:
    if skill not in course['requirements']:
      qualified = False
      break

if qualified:
  course_qualified.append(course['course'])

course_qualified

In [ ]:
if qualified:
  message = 'You are eligible to: ' + ', '.join(course_qualified) + ' courses'
  print(message)
else:
  print("You are not eligible for any courses")

#Exercise

In [ ]:
job_projects = [
    {'project': 'E-commerce Website', 'requirements': ['HTML', 'CSS', 'JavaScript', 'React']},
    {'project': 'Data Cleaning Script', 'requirements': ['Python', 'SQL', 'Excel', 'Data Visualization']},
    {'project': 'Marketing Dashboard', 'requirements': ['Power BI', 'Data Visualization', 'SQL']},
    {'project': 'Machine Learning Model', 'requirements': ['Python', 'Scikit-Learn', 'Machine Learning']},
    {'project': 'Customer Survey Analysis', 'requirements': ['Excel', 'Data Analysis', 'Pivot Tables']},
    {'project': 'Database Optimization', 'requirements': ['SQL', 'Database Design', 'Performance Tuning']},
    {'project': 'AI Chatbot', 'requirements': ['Python', 'NLP', 'TensorFlow']},
    {'project': 'Financial Risk Analysis', 'requirements': ['R', 'Statistics', 'Risk Assessment']},
    {'project': 'Social Media Analytics', 'requirements': ['Python', 'Data Visualization', 'API Integration']},
    {'project': 'Inventory Management System', 'requirements': ['SQL', 'Excel', 'Automation']}
]

# Your skills
my_skills = ['Python', 'SQL', 'Excel', 'Data Visualization']

In [ ]:
project_qualified = []

for project in job_projects:
  qualified =True

  for skill in my_skills:
    if skill not in project['requirements']:
      qualified =False
      break

if qualified:
  project_qualified.append(project['project'])

project_qualified

#Functions

In [ ]:
skill_list=['python','sql','excel']

len(skill_list)

In [ ]:
base_salary = 100000
bonus_rate = 0.1
total_salary = base_salary *(1+bonus_rate)
total_salary

In [ ]:
def calculate_salary():
  base_salary = 100000
  bonus_rate = 0.1
  total_salary = base_salary *(1+bonus_rate)
  return total_salary

In [ ]:
calculate_salary()

In [ ]:
def calculate_salary(base_salary,bonus_rate):
  total_salary = base_salary *(1+bonus_rate)
  return total_salary

In [ ]:
base_salary1 = 50000
bonus_rate1 = 0.1
calculate_salary(base_salary1,bonus_rate1)

#Lambda

In [ ]:
lambda x: x*2

In [ ]:
mul_two = lambda x: x*2

In [ ]:
mul_two(2)

In [ ]:
(lambda x,y: x*y)(2,3)

In [ ]:
salary_list = [100000, 200000, 150000, 120000, 80000, 750000]

def calculate_salary(base_salary,bonus_rate = 0.1):
  return base_salary *(1+bonus_rate)

In [ ]:
calculate_salary_list = [calculate_salary(salary) for salary in salary_list]
calculate_salary_list

#Data Filtering Example

In [ ]:
jobs_data = [
    {'job_title': 'Data Scientist',  'job_skills': ['Python', 'Machine Learning'], 'remote': True},
    {'job_title': 'Data Analyst',  'job_skills': ['Excel', 'SQL'], 'remote': False},
    {'job_title': 'Machine Learning Engineer', 'job_skills': ['Python', 'TensorFlow', 'Keras'], 'remote': True},
    {'job_title': 'Software Developer', 'job_skills': ['Java', 'C++'], 'remote': True},
    {'job_title': 'Data Scientist', 'job_skills': ['R', 'Statistics'], 'remote': False}
]

In [ ]:
list(filter(lambda job:job['remote'], jobs_data))

In [ ]:
list(filter(lambda job:job['remote'] and 'Python' in job['job_skills'], jobs_data))

#Modules

In [ ]:
import my_module
my_module.skill_list

In [ ]:
my_module.skill("Python")

In [ ]:
import job_analyzer
job_analyzer.calculate_salary(100000)

In [62]:
import job_analyzer
job_analyzer.calculate_bonus(12000,10000)

0.2

In [67]:
salary_list = [98000,101000,102000,99000,97000]
import statistics
statistics.mean(salary_list)

99400

In [69]:
statistics.mode(salary_list)

98000

In [70]:
statistics.median(salary_list)

99000